.div1{
    text-align: center;
}
.image{
    border-radius: 50%;
    border: 1px solid;
    width: 150px;

}
body{
    color: aliceblue;
    background-image: url(../pic.jpeg);
    
}

.image:hover{
    color: #0fe;
}
.name:hover{
    color: #0fe;
}
.para:hover{
    color: #0fe;
}
li:hover{
    color: #0fe;
}
.ach:hover{
    color: #0fe;
}
